<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <div>
    <app-rocket></app-rocket>
  </div>

  <!-- Next Steps -->
  <h2>Fibonacci</h2>
  <p>Introduce a number</p>

  <div class="card-container">
    <form [formGroup]="myForm">
      <input id="fibo" type="text" class="form-control"
        formControlName="number"/>
    </form>
  </div>

  <div class="alert-danger container-error-message" *ngIf="flag">
    Introduce a correct number.
  </div>

  <!-- Terminal -->
  <div class="terminal">
    <pre id="fibo2" type="text">{{numFibonacci}}</pre>
  </div>

  <div>
    <button type="button" class="btn btn-primary btnPosition" (click)="onTerminal()" [disabled]="myForm.invalid">
      Fibonacci
    </button>
  </div>

  <!-- Footer -->
  <footer></footer>

</div>

<router-outlet></router-outlet>